<div class="row mb-5">
    <div class="col-md-4">
        <div class="row ">
            <div class="col-md-3">
                <i class="fa-regular fa-rectangle-xmark fa-3x"></i>
                         </div>
            <div class="col-md-9 mb-5">
                <h4>Fully Layered PSD</h4>
                <p class="cardPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-3">
                <i class="fa-regular fa-lemon fa-3x"></i>           
             </div>
            <div class="col-md-9 mb-5">
                <h4>Fully Layered PSD</h4>
                <p class="cardPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-3">
                <i class="fa-regular fa-folder fa-3x"></i>           
             </div>
            <div class="col-md-9 mb-5">
                <h4>Fully Layered PSD</h4>
                <p class="cardPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-3">
                <i class="fa-solid fa-code fa-3x"></i>           
             </div>
            <div class="col-md-9 mb-5">
                <h4>Fully Layered PSD</h4>
                <p class="cardPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-3">
                <i class="fa-regular fa-envelope fa-3x"></i>          
             </div>
            <div class="col-md-9 mb-5 ">
                <h4>E-mail template</h4>
                <p class="cardPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-3">
                <i class="fa-regular fa-bookmark fa-3x"></i>          
             </div>
            <div class="col-md-9 mb-5">
                <h4>Free to Downloud</h4>
                <p class="cardPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </div>
        </div>
    </div>
</div>