<section class="footerSection ">
<div class="container">
    <div class="row ">
        <div class="col-md-10 offset-1">
            <p class="footerHeading text-center">
                keep in touch with us
            </p>
            <p class="footerPara">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.               
            </p>
          <div class="form-group text-center mb-5">
            <input type="text" class="form-control" placeholder="enter your email to update">
            <button class="btn btn-warning">submit</button>
          </div>
          <div class="footerIcon text-center ">
            <i class="fa-brands fa-facebook-f fa-2x"></i>
            <i class="fa-brands fa-twitter fa-2x"></i>
            <i class="fa-brands fa-instagram fa-2x"></i>
            <i class="fa-brands fa-google-plus-g fa-2x"></i>
          </div>
        </div>
    </div>
<div class="fl">
  <app-fanchor></app-fanchor>

</div>  
</div>
</section>