.featureHeading{
    .fePara {
        margin-bottom: 6rem;
    }
    
    .featurePara{
        font-size: 2rem;
        color: $text-dark;
}
    p{
        font-size: 20px;
    }
    .cardPara{
        font-size: 1rem;
        color: $card-para;
    }
   
   
}

