.footerSection{
    background-color: $bg-dark;
    .footerHeading{
        color: $text-pri;
        font-size: 2rem;
        margin-top: 6rem;

    }
    .footerPara{
        color: $card-para;
        text-align: center;
        margin-bottom: 2rem;
    }
    input{
        display: inline-block;
        width: 60%;

       }
       button{
        margin: 0.6rem;
        size: 7rem;
       }
       .footerIcon i{
        margin-right: 1rem;
        color: $text-pri;
        margin-bottom: 8rem;
       }
      
    a {
        color: #ffffff;
        text-decoration: none;
    }

}