<div class="row p-4">
    <div class="col-md-4 ">
      <p class="text-white">HALOVIETNAM LTD</p>
      <span class="text-white">66, Dang Van ngu, Dong Da
        Hanoi, Vietnam</span>
      <a class="d-flex" href="ailto:contact@halovietnam.com">contact@halovietnam.com</a>
     <a class="d-flex" href="tel: +844 35149182">+844 35149182</a>
      </div>
    <div class="col-md-2  ">
    <div class="links text-white">
        <a class="d-flex text-white" href="">examples</a>
        <a class="d-flex" href="">shop</a>
        <a class="d-flex" href="">Licences</a>
    </div>
    </div>
    <div class="col-md-2  ">
        <div class="links text-white">
            <a class="d-flex text-white" href="">contact</a>
            <a class="d-flex" href="">about</a>
            <a class="d-flex" href="">privacy</a>
            <a class="d-flex" href="">terms</a>

        </div>
        </div>
        <div class="col-md-2  ">
            <div class="links text-white">
                <a class="d-flex text-white" href="">downloud</a>
                <a class="d-flex" href="">support</a>
                <a class="d-flex" href="">documents</a>
            </div>
            </div>
            <div class="col-md-2  ">
                <div class="links text-white">
                    <a class="d-flex text-white" href="">media</a>
                    <a class="d-flex" href="">blog</a>
                    <a class="d-flex" href="">forums</a>
                </div>
                </div>
   
  </div>