<div class="inspire">
    <div class="row">
        <div class="col-md-6 ">
            <h2 >Inspire your inspiration</h2>
            <p class="para1 mb-1.625">Simple to use for your app, products showcase and your inspiration</p>
            <p class="para2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit </p>
        <div class="icon">
            <i class="fa-brands fa-apple fa-3x"></i>
            <i class="fa-brands fa-windows fa-3x"></i>
            <i class="fa-brands fa-android fa-3x"></i>

        </div>
        </div>
        <div class="col-md-4 offset-2">
            <img   src="./../../../assets/images/iPad.png" alt="ipad" title="ipad">

        </div>

    </div>
</div>